body {
	   color: white;
	   font-size: 50px;
	   text-align:center;
	   border-style: solid;
	   border-width: 10px;
	   background-image: url("imagen1.png"); 
	   background-color: gray;
	   background-size: cover;
	   border-radius: 20px;
}
img {
	border-style:solid;
	border-color: white;
	border-width: 10px;
	border-radius: 20px;
}
h1 { 
border-style: solid;
color:  white;
border-width: 10px;
border-color: white;
border-radius: 10px;

}

